{% extends 'bookstore/base.html' %}

{% block titlt_block %}
bookstore
{% endblock  %}
{% block content %}
 <h2>Publisher list</h2>
    <ul class="list-group">
        {% for publisher in publishers %}
                <li class="list-group-item">
                    <a href="{% url 'bookstore:publisher_detail' publisher.pk %}">{{ publisher.name }}</a>
                </li>
            {% empty %}
            <li class="list-group-item">There is no publisher</li>
        {% endfor %}
    </ul>
 
{% endblock  %}