{% extends 'todoapp/base.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block title_block %}
todoapp
{% endblock  %}

{% block content %}
<h1>todoapp</h1>
<form class="mb-4" method="POST" action="{% url 'todo_create' %}">
    {% csrf_token %}
  <div class="row">
    <div class="col">
      {% comment %} {{ form|crispy }} {% endcomment %}
      <input type="text" class="form-control" name="text" placeholder="Add Todo">
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value="AddTodo">
    </div>
  </div>
</form>
<ul class="list-group">
{% for todo in todo_list %}
  <li class="list-group-item">
  {{ todo.text }}
  
  <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger btn-sm float-right">Delete</a>
  <a href="{% url 'todo_update' todo.id %}" class="mr-3 btn btn-primary btn-sm float-right">Update</a>

  </li>
  {% endfor %}
</ul>


{% endblock  %}