{% extends 'todoapp/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
todoapp
{% endblock  %}

{% block content %}
<h1>todoapp</h1>
<form class="mb-4" method="POST" action=".">
    {% csrf_token %}
  <div class="row">
    <div class="col">
      {{ form|crispy }}
      {% comment %} <input type="text" class="form-control" placeholder="Add Todo"> {% endcomment %}
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value="AddTodo">
    </div>
  </div>
</form>
<ul class="list-group">
{% for todo in todo_list %}
  <li class="list-group-item">
  {{ todo.text }}
  <button type="button" class="btn btn-danger btn-sm float-right">Delete</button>
  </li>
  {% endfor %}
</ul>


{% endblock  %}